{{#extends 'base'}}

{{#block "content"}}
<form method="POST">
    <div>
        <label>Movie Title</label>
        <input type="text" name="title" class="form-control" value="{{movieData.title}}"/>
    </div>
    <div>
        <label>Movie Plot</label>
        <input type="text" name="plot" class="form-control" value="{{movieData.plot}}"/>
    </div>
    <input type="submit" value="Update movie" class="btn btn-primary mt-3"/>
</form>

{{/block}}

{{/extends}}